<div id="wrapper" class="row">

  <div id="shop" class="col-md-8">
    <div class="ui tabular menu">
      <% @categories.each do |category| %>
        <% if category == @categories.first %>
          <div class="item active" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% else %>
          <div class="item" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% end %>
      <% end %>
    </div>

    <% category_counter = 1%>
    <% @all_products_in_shop.each do |all_products_in_category| %>
      <% if category_counter == 1 %>
      <div class="ui tab active" data-tab="tab-category<%= category_counter %>">
      <% else %>
        <div class="ui tab" data-tab="tab-category<%= category_counter %>">
      <% end %>
        <% all_products_in_category.each do |product| %>
          <div class="product_wrap" prod_id= "<%= product.id %>">
            <div class= "prod_img_div">
              <%= image_tag product.img_src, class: "product_img" %>
            </div>
            <div class="product_min_info">
              <div class="product_name">
                <%= product.name %>
                <div class="product_price">$<%= '%.02f' % product.price %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% category_counter += 1%>
    <% end %>

  </div>   <!-- //shopping column -->

  <div id="shopping_cart" class="col-md-4">
    <!-- <h2>Your Cart</h2> -->

    <%# binding.pry %>
    <% if @current_user %>
      <div class="ui compact menu">
        <!-- <div class="item">
          Your Cart
        </div> -->
         <div class="ui icon input">
          <input type="text" class="ui input" id="new_shopping_list_input" placeholder="New List">
          <a class="item" id="new_shopping_list_submit">
            Add List
          </a>
        </div>

      <!-- <div class="right menu"> -->

        <a class="item" id="check_out" href="/charges/new">
          Check out
        </a>
      <!-- </div> -->
    </div>
    <% end%>

    <!-- // -->
      <div id="shopping_lists"></div>
    <%# end %>

  </div>  <!-- Cart Column -->

</div>
