<div id="wrapper" class="row">

  <div id="shop" class="col-md-8">
    <div class="ui tabular menu">
      <% @categories.each do |category| %>
        <% if category == @categories.first %>
          <div class="item active" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% else %>
          <div class="item" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% end %>
      <% end %>

    </div>
    <div class="ui tab active" data-tab="tab-category1">
      <% @allPerfumes.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <!-- we always need an image builder when using rails -->
            <%= image_tag product.img_src, class: "product_img" %>
          </div>
          <div class="product_min_info">
            <div class="product_name">
              <%= product.name %>
              <div class="product_price">$<%= '%.02f' % product.price %></div>
            </div>
          </div>
        </div>

      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category2">
      <% @allBooks.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <!-- we always need an image builder when using rails -->
            <%= image_tag product.img_src, class: "product_img" %>
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category3">
      <% @allToys.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <!-- we always need an image builder when using rails -->
            <%= image_tag product.img_src, class: "product_img" %>
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category4">
      <% @allTechnology.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <!-- we always need an image builder when using rails -->
            <%= image_tag product.img_src, class: "product_img" %>
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>

  </div>   <!-- //shopping column -->

  <div id="shopping_cart" class="col-md-4">
    <!-- <h2>Your Cart</h2> -->
<<<<<<< HEAD
    
    <div class="ui compact menu">
      <!-- <div class="item">
        Your Cart
      </div> -->
       <div class="ui icon input">
        <input type="text" class="ui input" id="new_shopping_list_input" value="New List">
        <a class="item" id="new_shopping_list_submit">
          Add List
        </a>
      </div>

      <!-- <div class="right menu"> -->

        <a class="item" id="check_out">
          Check out
        </a>
      <!-- </div> -->
    </div>
    <!-- // -->
=======
    <%# if defined? current_user %>
      <%# binding.pry %>
      <div class="ui inverted menu grey" id="cart_menu">
        <div class="item">
          Your Cart
        </div>
        <div class="right menu">

          <input type="text" class="ui input" id="new_shopping_list_input" value="Add Shopping List">
          <a class="item" id="new_shopping_list_submit">
            Add List
          </a>

          <a class="item" id="check_out" href="/checkout">
            Check out
          </a>
        </div>
      </div>
>>>>>>> 58606ac54e34fb8ba8111597dbf860ede379ec6d

      <div id="shopping_lists"></div>
    <%# end %>

  </div>  <!-- Cart Column -->

</div>
