<div id="wrapper" class="row">

  <div id="shop" class="col-md-8">
    <div class="ui tabular menu">
      <% @categories.each do |category| %>
        <% if category == @categories.first %>
          <div class="item active" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% else %>
          <div class="item" data-tab="tab-category<%= category.id %>"><%= category.name %></div>
        <% end %>
      <% end %>

    </div>
    <div class="ui tab active" data-tab="tab-category1">
      <% @allPerfumes.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <img src="<%= product.img_src %>" class="product_img">
          </div>
          <div class="product_min_info">
            <div class="product_name">
              <%= product.name %>
              <div class="product_price">$<%= '%.02f' % product.price %></div>
            </div>
          </div>
        </div>

      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category2">
      <% @allBooks.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <img src="<%= product.img_src %>" class="product_img">
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category3">
      <% @allToys.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <img src="<%= product.img_src %>" class="product_img">
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>
    <div class="ui tab" data-tab="tab-category4">
      <% @allTechnology.each do |product| %>
        <div class="product_wrap" prod_id= "<%= product.id %>">
          <div class= "prod_img_div">
            <img src="<%= product.img_src %>" class="product_img">
          </div>
          <div class="product_min_info">
            <div class="product_name"><%= product.name %></div>
            <div class="product_price">$<%= '%.02f' % product.price %></div>
          </div>
        </div>
      <% end %>  <!-- close product div -->
    </div>

  </div>   <!-- //shopping column -->

  <div id="shopping_cart" class="col-md-4">
    <!-- <h2>Your Cart</h2> -->
    <div class="ui inverted menu grey">
      <div class="item">
        Your Cart
      </div>
      <div class="right menu">
        <a class="item">
          Add List
        </a>
        <a class="item">
          Check out
        </a>
      </div>
    </div>
    <!-- // -->
    <div id="shopping_lists"></div>
  </div>  <!-- Cart Column -->

</div>
